.body {
  height: 100%;
}

.container,
.hat {
  width: 100%;
  margin-left: auto;
  color: white;
}

.search-bar {
  font-size: 20px;
}

.reminder {
  font-size: 25px;
  animation-name: blink;
  width: 280px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: Infinite;
}

@keyframes blink {
  0% {
    color: red;
  }

  50% {
    color: white;
  }

  100% {
    color: red;
  }
}

.background {
  background-image: url("../images/worshiped.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%
}

#modalTitle{
  margin: auto;
}

html,
body,
#app,
#app>div {
  height: 100%;
  background-color: black;
}